<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609047605329-703gahv9pei7fte6eibs5im6f4qg613n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609047605329-703gahv9pei7fte6eibs5im6f4qg613n</string>
	<key>API_KEY</key>
	<string>AIzaSyAIiDnUQTVGkfLaKtr1tjqR8kY7kUwuxSU</string>
	<key>GCM_SENDER_ID</key>
	<string>609047605329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boarded</string>
	<key>PROJECT_ID</key>
	<string>boarded-68034</string>
	<key>STORAGE_BUCKET</key>
	<string>boarded-68034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609047605329:ios:ab00f114f2b072fd4d8870</string>
</dict>
</plist>